{% extends 'groceries/base.html' %}
{% load static %}

{% block title %}{{form.instance.title}} - Edit{% endblock title %}

{% block pagetitle %}
{% if form.instance.completed %}Completed List{% else %}Edit List{% endif %}
{% endblock %}

{% block headscripts %}
<script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>
{% endblock %}

{% block leftnav %}
<a class='btn btn-outline-dark' href="{% if form.instance.completed %}{% url 'grocs:list_all' %}{% else %}{% url 'grocs:list_active' %}{% endif %}">
  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon" viewBox="0 0 16 16">
    <use href="{% static 'site_icons.svg' %}#icon-journals"></use>
  </svg>
</a>
{% endblock %}

{% block rightnav %}
{% if not form.instance.completed %}
  <button type='button' class='btn btn-link' id="mark_done">Mark as done</button>
{% endif %}
{% endblock %}

{% block content %}
  <form autocomplete="off" class='d-flex flex-column' action='' method='POST' id='glist-edit-form'>
    <fieldset {% if form.instance.completed %}disabled{% endif %}>
      {% csrf_token %}
      <div class='mb-3'>
        <label class='form-label' for="{{form.title.auto_id}}">{{form.title.label}}</label>
        {{form.title}}
      </div>

      <div class='mb-3'>
        <label class='form-label mt-2' for="{{form.contents.auto_id}}" id='glist-items-label' style='display: {% if checked_items %}inline-block{% else %}none{% endif %};'>{{form.contents.label}}</label>

        <ul id='glist-items' class='list-group' style='width:fit-content;'>
          {% for item in checked_items %}
          <li class='list-group-item py-1 px-2 d-flex gap-1 align-items-center'>
            <span class='me-1 border-end border-1 pe-2'>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon item-handle" viewBox="0 0 16 16">
                <use href="{% static 'site_icons.svg' %}#icon-grip-vertical"></use>
              </svg>
            </span>
            <span class='me-1 border-end border-1 pe-2'>
              <input class="item-check form-check-input" type="checkbox" value="">
            </span>
            <input class='item-input border-0 form-control form-control-sm' value="{{item}}" />
            {% if not form.instance.completed %}
            <button type='button' class='btn btn-sm btn-white item-input-remove' style='visibility:hidden'>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon" viewBox="0 0 16 16">
                <use href="{% static 'site_icons.svg' %}#icon-trash3"></use>
              </svg>
            </button>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        <label class='form-label mt-2' id='completed-items-label' style='display: {% if unchecked_items %}inline-block{% else %}none{% endif %};'>Completed</label>
        <ul id='completed-items' class='list-group' style='width:fit-content;'>
          {% for item in unchecked_items %}
          <li class='list-group-item py-1 px-2 d-flex gap-1 align-items-center'>
            <span class='me-1 border-end border-1 pe-2'>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon item-handle" viewBox="0 0 16 16">
                <use href="{% static 'site_icons.svg' %}#icon-grip-vertical"></use>
              </svg>
            </span>
            <span class='me-1 border-end border-1 pe-2'>
              <input class="item-check form-check-input" type="checkbox" value="" checked>
            </span>
            <input class='item-input border-0 form-control form-control-sm'  value="{{item}}"/>
            {% if not form.instance.completed %}
            <button type='button' class='btn btn-sm btn-white item-input-remove' style='visibility:hidden'>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon" viewBox="0 0 16 16">
                <use href="{% static 'site_icons.svg' %}#icon-trash3"></use>
              </svg>
            </button>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

      </div>
      {% if not form.instance.completed %}
      <div class='d-flex gap-2 align-items-end'>
        <small id='saved-marker' class='text-success bg-dark rounded-pill py-1 px-2 pe-3' style='visibility: hidden;'>

        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon"
            viewBox="0 0 16 16">
            <use href="{% static 'site_icons.svg' %}#icon-check-lg"></use>
        </svg>
          Saved</small>
      </div>
      {% endif %}
    </fieldset>
  </form>

{% endblock content %}

{% block scripts %}
{% if not form.instance.completed %}
<script>
  var saveTimeout;
  Sortable.create(document.getElementById('glist-items'), {
    animation: 150,
    handle: '.item-handle',
    ghostClass: 'bg-light',
    onEnd: () => {
      triggerSave(0)
    }
  })

  Sortable.create(document.getElementById('completed-items'), {
    animation: 150,
    handle: '.item-handle',
    ghostClass: 'bg-light',
    onEnd: () => {
      triggerSave(0)
    }
  })

  function markAsDone () {
    triggerSave(0, true)
  }
  document.getElementById('mark_done').addEventListener('click', markAsDone)

  function createInput () {
    const newItemTemplate = document.createElement('template');
    newItemTemplate.innerHTML = `
      <li class='list-group-item py-1 px-2 d-flex gap-1 align-items-center'>
        <span class='me-1 border-end border-1 pe-2'>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon item-handle" viewBox="0 0 16 16">
            <use href="{% static 'site_icons.svg' %}#icon-grip-vertical"></use>
          </svg>
        </span>
        <span class='me-1 border-end border-1 pe-2'>
          <input class="item-check form-check-input" type="checkbox" value="">
        </span>
        <input class='item-input border-0 form-control form-control-sm'  value="" />
        <button type='button' class='btn btn-sm btn-white item-input-remove' style='visibility:hidden'>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon" viewBox="0 0 16 16">
            <use href="{% static 'site_icons.svg' %}#icon-trash3"></use>
          </svg>
        </button>
      </li>
      `
    newItemTemplate.content.querySelector('.item-input').addEventListener('keydown', dontSubmitOnEnter)
    newItemTemplate.content.querySelector('.item-input').addEventListener('focus', showRemoveButton)
    newItemTemplate.content.querySelector('.item-check').addEventListener('change', handleItemCheck)
    newItemTemplate.content.querySelector('button.item-input-remove').addEventListener('click', removeItem)
    return newItemTemplate.content.firstElementChild;
  }

  function showRemoveButton(event) {
    Array.from(document.querySelectorAll('.item-input-remove')).forEach(el => el.style.visibility = 'hidden');
    event.target.closest('li').querySelector('.item-input-remove').style.visibility = 'visible'
  }

  function removeItem (event) {
    if (event.target.value === '' && event.target.closest('li').nextElementSibling === null) return;
    triggerSave(0);
    event.target.closest('li').remove()
  }

  function triggerSave(timeout, markComplete) {
    clearTimeout(saveTimeout);
    document.getElementById('saved-marker').style['visibility'] = 'hidden'
    saveTimeout = setTimeout(() => {
      saveList(markComplete);
    }, timeout);
  }

  function dontSubmitOnEnter (event) {
    const thisItem = event.target.closest('li')
    const nextInput = thisItem.nextElementSibling?.querySelector('input.item-input')

    // non editing keys (don't trigger a save)
    if (event.key === 'ArrowUp') {
      event.preventDefault();
      thisItem.previousElementSibling?.querySelector('input.item-input')?.focus()
      return;
    } else  if (event.key === 'ArrowDown') {
      event.preventDefault();
      thisItem.nextElementSibling?.querySelector('input.item-input')?.focus()
      return;
    } else if (['Control', 'Shift', 'Alt', 'Meta', 'Tab', 'ArrowLeft', 'ArrowRight'].includes(event.key)) {
      return;
    }

    triggerSave(200);

    if (event.key === 'Enter') {
      event.preventDefault();
      const newInputValue = event.target.value.slice(event.target.selectionEnd)
      const oldInputValue = event.target.value.slice(0, event.target.selectionStart)
      event.target.value = oldInputValue;
    
      const newInput = createInput();
      event.target.closest('ul').insertBefore(newInput, thisItem.nextElementSibling);
      thisItem.nextElementSibling.querySelector('input.item-input').value = newInputValue;
      thisItem.nextElementSibling.querySelector('input.item-input').setSelectionRange(0,0);
      thisItem.nextElementSibling.querySelector('input.item-input').focus();
    } else if (event.key === 'Backspace') {
      if (event.target.selectionStart === 0 && event.target.selectionEnd === 0) {
        event.preventDefault();
        const prevInput = event.target.closest('li').previousElementSibling?.querySelector('input.item-input')
        if (prevInput == null) return;

        const oldPrevLength = prevInput.value.length;
        prevInput.value = prevInput.value + event.target.value;
        prevInput.focus()
        prevInput.setSelectionRange(oldPrevLength, oldPrevLength);

        event.target.closest('li').remove()
      }
    }
  }

  Array.from(document.getElementsByClassName('item-input')).forEach(el => el.addEventListener('keydown', dontSubmitOnEnter))
  Array.from(document.getElementsByClassName('item-input')).forEach(el => el.addEventListener('focus', showRemoveButton))

  Array.from(document.getElementsByClassName('item-input-remove')).forEach(el => el.addEventListener('click', removeItem))

  function saveList (markComplete) {
    const uncompletedContent = Array.from(document.getElementById('glist-items').querySelectorAll('input.item-input')).map(inp => inp.value).join('\n').trim()
    const completedContent = Array.from(document.getElementById('completed-items').querySelectorAll('input.item-input')).map(inp => inp.value).join('\n').trim()
    const content = [uncompletedContent, completedContent].join('\n')
    const checkedIndex = uncompletedContent === '' ? 0 : uncompletedContent.split('\n').length
    const formData = new FormData()
    formData.append('title', document.querySelector('input[name=title]').value)
    formData.append('contents', content)
    formData.append('checked_index', checkedIndex)
    formData.append('csrfmiddlewaretoken', document.querySelector('input[name=csrfmiddlewaretoken]').value)
    if (markComplete) {
      formData.append('complete', true)
    }

    fetch(document.URL, {
      method: 'POST',
      body: formData
    })
    .then(res => {
      if (res.ok) {
        document.getElementById('saved-marker').style['visibility'] = 'visible'
        if (markComplete) {
          window.location.reload()
        }
      } else {
        throw new Error('Error saving request')
      }
    })
  }

  function handleItemCheck(event) {
    const completedList = document.getElementById('completed-items');
    const uncompletedList = document.getElementById('glist-items');
    if (event.target.checked) {
      completedList.appendChild(event.target.closest('li'));
      document.getElementById('completed-items-label').style.display = 'inline-block';
      if (uncompletedList.children.length === 0) {
        document.getElementById('glist-items-label').style.display = 'none';
      }
    } else {
      uncompletedList.appendChild(event.target.closest('li'));
      document.getElementById('glist-items-label').style.display = 'inline-block';
      if (completedList.children.length === 0) {
        document.getElementById('completed-items-label').style.display = 'none';
      }
    }
    triggerSave(0);
  }

  Array.from(document.getElementsByClassName('item-check')).forEach(el => el.addEventListener('change', handleItemCheck))
</script>
{% endif %}
{% endblock %}
