{% extends 'groceries/base.html' %}
{% load static %}

{% block title %}Shopping - {{glist.title}}{% endblock title %}

{% block pagetitle %}
{{glist.title|truncatechars:18}}
{% endblock %}

{% block leftnav %}
<a class='btn btn-outline-dark' href="{% if form.instance.completed %}{% url 'grocs:list_all' %}{% else %}{% url 'grocs:list_active' %}{% endif %}">
  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon" viewBox="0 0 16 16">
    <use href="{% static 'site_icons.svg' %}#icon-journals"></use>
  </svg>
</a>
{% endblock %}

{% block rightnav %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-sm btn-primary" name="done_list" value="Mark as Done">
</form>
{% endblock %}

{% block content %}
<ul class='list-group mb-3' id='grocCheckList'>
    {% for item in items %}
    <label class='form-check-label list-group-item py-3' for='groceries{{forloop.counter}}'>
        <input
            class='form-check-input' id='groceries{{forloop.counter}}' type='checkbox'
            value='{{item}}' name='groceries'
            data-originalorder="{{forloop.counter}}"
        >
        {{item}}
    </label>
    {% endfor %}
</ul>
{% endblock content %}

{% block scripts %}

<script>
    var checkList = document.getElementById("grocCheckList")
    const reorderChecklist = () => {
        var checks = Array.from(checkList.children)
        console.log(checks.map(c => c.children[0]))
        checks = checks.sort((a,b) => {
            if (a.firstElementChild.checked === b.firstElementChild.checked) {
                return parseInt(a.firstElementChild.dataset.originalorder) - parseInt(b.firstElementChild.dataset.originalorder);
            } else {
                return a.firstElementChild.checked ? 1 : -1;
            }
        })
        console.log(checks.map(c => c.children[0]))
        checks.forEach((c) => {
            checkList.appendChild(c);
        })
    }
    checkList.addEventListener("click", reorderChecklist)
    window.onload = reorderChecklist
</script>
{% endblock %}