{% extends 'site_base.html' %}
{% load static %}

{% block title %}Add Entry - {{recipe.title|truncatechars:20}}{% endblock %}

{% block sitecontent %}
<p class='mb-0'>
    <h1>
        {{recipe.title}}
        <a target="_blank" href="{{recipe.url}}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-icon" viewBox="0 0 16 16">
                <use href="{% static 'site_icons.svg' %}#icon-arrow-up-right-square"></use>
            </svg>
        </a>
    </h1>
    <form action="" method="POST">
        <div class="mb-3">
            {% csrf_token %}
            <div hidden>
            {{form.recipe}}
            </div>
            <label>Notes</label>
            {{form.notes}}
        </div>
        <button class="btn btn-primary" type="submit">Add Entry</button>
    </form>
</p>
{% endblock %}}

{% block scripts %}
<script>
    document.getElementById("id_notes").classList.add("form-control", "w-50");
</script>
{% endblock %}