<div class="right-decoration-container">
  <svg class="right-decoration-inner"  xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none">
    <g>
      <line x1="110" y1="400" x2="210" y2="300" stroke="url(#colDark)" />
      <line x1="110" y1="400" x2="110" y2="350" stroke="#777" />
      <line x1="110" y1="400" x2="110" y2="450" stroke="#777" />
      <line x1="110" y1="400" x2="60" y2="400" stroke="#777" />

      <circle cx=110 cy=400 r=8 stroke="url(#colDark)" fill="url(#colBG)" />
      <circle cx=60 cy=400 r=8 stroke="url(#colDark)" fill="url(#colBG)" />
      <circle cx=110 cy=450 r=8 stroke="url(#colDark)" fill="url(#colBG)" />
      <circle cx=110 cy=350 r=8 stroke="url(#colDark)" fill="url(#colBG)" />

    </g>
  </svg>
  <svg class="right-decoration"  xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none">
    <g>
      <line x1="60" y1="300" x2="160" y2="400" stroke="url(#colDark)" />
      <line x1="140" y1="600" x2="160" y2="580" stroke="url(#colDark)" />
      <line x1="140" y1="600" x2="90" y2="650" stroke="url(#colDark)" />
      <line x1="90" y1="650" x2="160" y2="720" stroke="url(#colDark)" />

      <circle cx=60 cy=300 r=8 stroke="url(#colDark)" fill="url(#colBG)" />
      <circle cx=140 cy=600 r=8 stroke="url(#colDark)" fill="url(#colBG)" />

      <circle cx=90 cy=650 r=8 stroke="url(#colDark)" fill="url(#colBG)" />
    </g>
  </svg>
</div>